*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(226, 226, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform:capitalize ;
}
p{
    margin: 20px;
}